@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

@font-face {
  font-family: "Benzin";
  src: url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Regular.woff2") format("woff2"),
       url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Benzin";
  src: url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Bold.woff2") format("woff2"),
       url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.font-benzin {
  font-family: "Benzin";
}

.font-montserrat {
  font-family: "Montserrat";
}

body {
  background: var(--background);
  color: var(--foreground);
}


.duration {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 0.5px;
  background: linear-gradient(
    to right,
    #0db484,
    #ffffff
  );
}

.duration::-webkit-slider-runnable-track {
  background: #ffffff;
  border-radius: 15px;
}

.duration::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #0a946d;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.duration:focus::-webkit-slider-thumb {
  outline: none;
}