@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

@font-face {
  font-family: "Benzin";
  src: url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Regular.woff2") format("woff2"),
       url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Benzin";
  src: url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Medium.woff2") format("woff2"),
       url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Medium.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Benzin";
  src: url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Bold.woff2") format("woff2"),
       url("https://s3.twcstorage.ru/bf9f335b-325409fa-85a9-484e-8b56-e3ad47c00577/fonts/Benzin-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.font-benzin {
  font-family: "Benzin";
}

.font-montserrat {
  font-family: "Montserrat";
}

.font-benzin-regular {
  font-family: "Benzin";
  font-weight: 400;
}

.font-benzin-medium {
  font-family: "Benzin";
  font-weight: 600;
}

.font-benzin-bold {
  font-family: "Benzin";
  font-weight: 700;
}


body {
  background: var(--background);
  color: var(--foreground);
}


.duration {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  height: 2px;
  border-radius: 999px;
  background: #ffffff33; /* пустая часть */
}

/* трек */
.duration::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 999px;
  background: transparent;
}

/* бегунок */
.duration::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #0db484;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}