@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Benzin";
  src: url("/fonts/Benzin-Regular.woff2") format("woff2"),
       url("/fonts/Benzin-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Benzin";
  src: url("/fonts/Benzin-Bold.woff2") format("woff2"),
       url("/fonts/Benzin-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Benzin, sans-serif;
}


.duration {
  width: 85%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 4px;
  background: linear-gradient(
    to right,
    #0a946d,
    #ffffff
  );
}
